version: "3"

tasks:
  fix-and-check:
    desc: "Fix and check Terraform configuration"
    cmds:
      - task: fix
      - task: check
  aliases:
    - fc

  fix:
    desc: "Fix Terraform configuration"
    dir: terraform
    cmds:
      - task: fmt

  check:
    desc: "Check Terraform configuration"
    dir: terraform
    cmds:
      - task: validate
      - task: fmt:check

  init:
    desc: "Initialize Terraform"
    dir: terraform
    cmds:
      - terraform init

  init:upgrade:
    desc: "Initialize Terraform with provider upgrade"
    dir: terraform
    cmds:
      - terraform init -upgrade

  plan:
    desc: "Plan Terraform changes"
    dir: terraform
    cmds:
      - terraform plan

  apply:
    desc: "Apply Terraform changes"
    dir: terraform
    cmds:
      - terraform apply -auto-approve

  destroy:
    desc: "Destroy Terraform infrastructure"
    dir: terraform
    cmds:
      - terraform destroy

  validate:
    desc: "Validate Terraform configuration"
    dir: terraform
    cmds:
      - terraform validate

  fmt:
    desc: "Format Terraform files"
    dir: terraform
    cmds:
      - terraform fmt -recursive

  fmt:check:
    desc: "Check Terraform formatting"
    dir: terraform
    cmds:
      - terraform fmt -check -recursive

  workspace:
    desc: "Show current workspace"
    dir: terraform
    cmds:
      - terraform workspace show

  output:
    desc: "Show Terraform outputs"
    dir: terraform
    cmds:
      - terraform output

  state:
    desc: "Show Terraform state"
    dir: terraform
    cmds:
      - terraform state list

  version:
    desc: "Show Terraform version"
    cmds:
      - terraform version

  import:repo:*:
    desc: "Import existing repository"
    dir: terraform
    vars:
      REPO_NAME: "{{index .MATCH 0}}"
    cmds:
      - terraform import 'github_repository.repositories["{{.REPO_NAME}}"]' {{.REPO_NAME}}

  exclude:repo:*:
    desc: "Exclude a repository from management"
    dir: terraform
    vars:
      REPO_NAME: "{{index .MATCH 0}}"
    cmds:
      - terraform state rm 'github_repository.repositories["{{.REPO_NAME}}"]'
      - terraform state rm 'github_repository_ruleset.main_branch_protection["{{.REPO_NAME}}"]'
      - terraform state rm 'github_workflow_repository_permissions.workflow_repository_permissions["{{.REPO_NAME}}"]'
      - terraform state rm 'github_actions_repository_permissions.actions_repository_permissions["{{.REPO_NAME}}"]'
